.avengers-list-container
  .avenger-info-block
    padding-bottom 15px
    border-bottom 1px solid #cfd8dc
    margin-bottom 15px
    &:last-child
      margin-bottom 0
      border-bottom 0
      padding-bottom 0