.input-block_type_select
  &:after
    content '▾'
    position absolute
    right 5px
    bottom 8px
    font-size 14px
    color #767676
    pointer-events none
  .input-block__input
    cursor pointer