.avenger-info-block__info-wrap
  width 100%
  height 100%
  margin-left 15px
  padding-top 20px
  box-sizing border-box
  position relative
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  min-height: 180px;