.search-and-sort-block__search-icon
  width: 18px;
  height: 17px;
  min-width 18px
  min-height 17px
  background-position: center center;
  background-image: url(/dist/images/icon-search.svg);
  background-repeat: no-repeat;
  background-size: contain;