.input-block__select-variant
  height 32px
  line-height 32px
  color #263238
  background-color #ffffff
  box-sizing border-box
  padding 0px 13px
  white-space nowrap
  cursor pointer
  &:hover, &:nth-child(even):hover
    color #ffffff
    background-color #2196f3
  &:nth-child(even)
    background-color #eceff1