.avenger-details
  .input-block
    border 1px solid #b0bec5
    padding-top 24px
    padding-right 4px
    padding-bottom 4px
    padding-left 1px
    width 100%
    box-sizing border-box
    height 160px
    &_focus
      border 2px solid #2196f3
      padding-top 23px
      padding-right 3px
      padding-bottom 3px
      padding-left 0px
  .input-block_empty .input-block__label
    top: 27px;
    left: 16px;
  .input-block textarea
    padding-top 0px
    border 2px solid white
    box-sizing: border-box;
  .input-block__label
    top: 8px;
    left: 16px;

