html, body
  margin 0
  padding 0
  background-color #eceff1
  font-family "GothamPro"
  -webkit-font-smoothing antialiased
body
  padding-bottom 40px
input
  font-family "GothamPro"
  -webkit-font-smoothing antialiased
