.button
  height 44px
  border 1px solid rgba(0,0,0,0)
  outline 0
  background-color #2196f3
  box-sizing border-box
  cursor pointer
  font-family "GothamPro"
  font-size 16px
  text-align center
  color #ffffff
  &_size
    &_small
      width 144px
    &_medium
      width 160px
  &_color
    &_gray
      background-color #eceff1
      color #263238
      &:hover
        background-color #cfd8dc
      &:focus
        border 1px solid #cfd8dc
  &:focus
    border 1px solid #1e88e5
  &:hover
    background-color #1e88e5
