.input-block
  padding-top: 12px;
  padding-bottom: 2px;
  box-sizing border-box
  position relative
  display block
  border-bottom 1px solid #b0bec5
  &_empty
    .input-block__label
      font-size 16px
      top 26px
      pointer-events none
  &_focus
    border-bottom 2px solid #2196f3
    .input-block__label
      color #2196f3
    .input-block__select-variants-wrap
      display block
    .input-block__textarea
      border 2px solid #2196f3
  &_error
    border-bottom 2px solid #f44336
    .input-block__error-label
      display inline-block
    .input-block__label
      color #f44336
  &_type
    &_select
      &:after
        content '▾'
        position absolute
        right 0px
        bottom 8px
        font-size 14px
        color #767676
      .input-block__input
        cursor pointer
        appearance none
        -webkit-appearance none
        background-color rgba(0,0,0,0)
  &__label
    display block
    color #b0bec5
    font-size 12px
    font-weight 300
    position absolute
    top 10px
    left 0px
    transition all 0.2s ease
    cursor text
  &__input
    display block
    margin-top 12px
    border 0
    box-sizing border-box
    outline 0
    width 100%
    color #263238
    font-size 16px
    height 20px
    line-height 20px
  &__error-label
    pointer-events none
    cursor text
    position absolute
    font-weight 300
    color #f44336
    font-size 12px
    bottom 5px
    right 0px
    display none
  &__select-variants-wrap
    position absolute
    width 100%
    font-size 16px
    border 2px solid #2196f3
    box-sizing border-box
    display none
    top 46px
  &__select-variant
    height 30px
    line-height 31px
    color #263238
    background-color #ffffff
    box-sizing border-box
    padding 0px 13px
    white-space nowrap
    &:hover, &:nth-child(even):hover
      color #ffffff
      background-color #2196f3
    &:nth-child(even)
      background-color #eceff1
  &__textarea
    font-family "GothamPro"
    resize none
    width 100%
    height 100%
    padding 15px
    box-sizing border-box
    font-size 16px
    color #263238
    border 1px solid #b0bec5
    &::-webkit-scrollbar-track
      background-color #cfd8dc
      border-left 3px solid white
      border-right 3px solid white
    &::-webkit-scrollbar
      width 8px
    &::-webkit-scrollbar-thumb
      width 8px
      background-color #607d8b
    &:focus
      outline 0

