.main-block
  margin auto
  margin-top 16px
  max-width 656px
  background-color #fff
  &__header
    height 52px
    border-bottom 1px solid #cfd8dc
    background-color #fbfcfc
    display flex
    align-items center
    box-sizing border-box
    padding 0px 18px
    font-size 20px
    color #b0bec5
    font-weight 300
    &_container
      padding 0
      align-items stretch
      border-bottom 1px solid white
  &__content-wrap
    padding 16px
    display block
  &__image-wrap
    margin-right 16px
    max-width 225px
    width 100%
    box-sizing border-box
  &__image
    width 100%
  &__inner-section
    display flex
    width 100%
    box-sizing border-box
    &:first-child
      margin-top 0px
    margin-top 15px
  &__inputs-wrap
    width 100%
    max-width 384px
    font-size 0px