.search-block
  width 100%
  display flex
  align-items center
  background-color white
  padding 0 15px
  border-bottom 1px solid #cfd8dc
  &_focus
    border-bottom 2px solid #2196f3
  &__icon
    width 18px
    height 17px
    background-position center center
    background-image url(/dist/images/icon-search.svg)
    background-repeat no-repeat
    background-size contain
  &__input
    margin-left 15px
    width 100%
    outline 0
    height 100%
    box-sizing border-box
    border 0
    font-size 16px
    color #263238
    &::placeholder
      color #b0bec5
      font-size 16px
  .input-block_type_select
    &:after
      display none
    &:hover
      &:after
        display block
  .input-block
    border-bottom: 0
    width: 165px;
    &_focus
      .input-block__input
        color #b0bec5
  .input-block__input
    margin-top 0px
    cursor pointer
    &:focus
      outline none
  .input-block__select-variants-wrap
    top: 41px;
    width: 189px;
    right: -24px;
  .input-block__select-variant
    cursor pointer
    padding-left: 44px;
    height 42px
    line-height 42px
    position relative
    color #263238
    &:nth-child(even)
      background-color #ffffff
    &:hover, &:nth-child(even):hover
      background-color #eceff1
      color #263238
    &_current
      &:before
        content '✔'
        position absolute
        left 15px
  &__sort-arrow
    margin-left 10px
    cursor pointer
    &:hover
      &:before
        color #2196f3
    &:before
      content "⬆"
      font-size 16px
      color #767676
    &_inverse
      &:before
        content "⬇"
