.textarea-block__textarea
  font-family: "GothamPro";
  resize: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-bottom 0px
  box-sizing: border-box;
  font-size: 16px;
  color: #263238;
  padding-top: 0;
  border: 2px solid #fff;
  &::-webkit-scrollbar-track
    background-color #cfd8dc
    border-left 3px solid white
    border-right 3px solid white
  &::-webkit-scrollbar
    width 8px
  &::-webkit-scrollbar-thumb
    width 8px
    background-color #607d8b
  &:focus
    outline 0