.search-and-sort-block__search-input
  height 100%
  margin-left: 15px;
  outline: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  color: #263238;
  width 100%
  &::placeholder
    color #b0bec5
    font-family "GothamPro"
    font-size 16px