.search-and-sort-block__sort-arrow
  cursor pointer
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  &:hover
    &:before
      color #2196f3
  &:before
    content "⬆"
    font-size 16px
    color #767676
  &_inverse
    &:before
      content "⬇"