.search-and-sort-block
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 15px;
  border-bottom: 1px solid #cfd8dc;
  max-height 52px
  box-sizing border-box
  height 100%
  .input-block_type_select_with-checkmark
    width 200px
    display flex
    border-bottom-color rgba(0,0,0,0)
    height 50px
    &:after
      bottom: 17px;
  .input-block__input
    margin-top 16px