.textarea-block
  border: 1px solid #b0bec5;
  padding-top: 24px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  width: 100%;
  box-sizing: border-box;
  height: 160px;
  background-color white
  position relative
