.input-block_type_select_with-checkmark
  &:after
    display none
    bottom 13px
    right 35px
  &:hover:after
    display block
  .input-block__input
    color #b0bec5
    padding-left: 46px;
  .input-block__select-variant
    &_current, &_current:nth-child(even)
      background-color: #eceff1;
      &:hover
        color #ffffff
        background-color #2196f3
