.input-block_open
  .input-block__select-variants-wrap
    display block
  &.input-block_type_select_with-checkmark
    .input-block__select-variant
      padding-left: 44px;
      position: relative;
      color: #263238;
      cursor pointer
      &:nth-child(even):not(.input-block__select-variant_current)
        background-color: #fff;
        &:hover
          color #ffffff
          background-color #2196f3
      &_current
        &:before
          content: '\2714';
          position: absolute;
          left: 15px;