.input-block
  padding-top: 2px;
  padding-bottom: 2px;
  box-sizing border-box
  position relative
  display block
  border-bottom 1px solid #b0bec5
  background-color white
  height 52px
  width 100%

  .react-datepicker-wrapper, .react-datepicker__input-container
    width 100%